// contenido
.imagen {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .contenido {
        padding: 20px;
        text-align: left;
    }

    img {
        max-width: 100%;
        padding: 50px 0px 0px 0px;
    }
}