form {
    margin: 0 auto;
    width: 500px;

    label {
        display: inline-block;
        width: 150px;
        text-align: right;
    }

    input,
    textarea {
        width: 300px;
        box-sizing: border-box;
        border: 1px solid #000;
    }

    .enviar {
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .servicios {
        font-weight: bold;
    }
}